.captureForm {
  padding-top: 5px;
}

.required {
  color: red;
}

label {
  padding-top: 5px;
  font-size: 11px;
  color: white;
}

input, select {
  height: 25px;
  margin: 2px;
  background-color: #181a1b;
  color: white;
  border: 1px solid grey;
  border-radius: 1px;
}

textarea {
  background-color: #181a1b;
  color: white;
}

.fileInputLabel {
  padding: 10px 0 0 0;
}

.fileInput {
  padding: 0 0 0 0;
  border: none;
}


.submit {
  margin: 35px 0 0 0;
  padding-bottom: 15px;
  border-radius: 5px;
  width: 100%;
}

