.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  color: white;
  height: 2rem;
  position: fixed;
  z-index: 2;
 /* background-color: black; */
  background-image: url('../../../assets/jungleHome.png');
  background-size: cover;
}

::ng-deep .mat-tooltip {
    color: white !important; 
    background-color: black;
    border: 1px solid white;
}

.shopButton:hover{
  cursor: not-allowed;
}

#payPal-button {
  border: 1px solid grey;
  border-radius: 5px;
}
#payPal-button:hover {
  cursor: pointer;
  border: 1.5px solid white;
}


#title:hover {
  color: #eeedf5;
  cursor: pointer;
}

#title {
  padding-top: 0.15rem;
  font-size: 1.1rem;
}

.icon-button {
  color: white;
  border: none;
  transition-duration: 0.4s;
}

.icon-button:hover {
  color: green;
}

button {
  background: none !important;
}


/* --- sidenav ---  */

mat-sidenav {
  position: fixed;
  padding-top: 2rem;
  background: black;
  opacity: 0.95;
  width: 2.54rem;
}






















