
<mat-toolbar>
  <button 
    id="hamburger"
    mat-icon-button 
    matTooltip="Menu" 
    matTooltipPosition="below" 
    matTooltipClass="tooltip"
    class="icon-button" 
    aria-label=""
    (click)="sidenav.toggle()"
    >
    <mat-icon>menu</mat-icon>
  </button>

  <span id="title" routerLink="">Rainforest Information System</span>
  <span class="spacer"></span>
  <p>‎</p>
<!--  <button mat-icon-button matTooltip="Dark Mode" matTooltipPosition="below" class="icon-button" aria-label=""><mat-icon>wb_sunny</mat-icon></button>
  <button mat-icon-button matTooltip="Dark Mode" matTooltipPosition="below" class="icon-button" aria-label=""><mat-icon>camera_roll</mat-icon></button>

-->


  <img
     matTooltip="Donate" 
     matTooltipPosition="below" 
     id="payPal-button" width="135" height="23" src="../../../assets/payPal.png"
     onclick=" window.open(' https://www.paypal.com/donate/?hosted_button_id=YNS7RSSHWJBMJ ','_blank') "
  >

 <button 
   mat-icon-button matTooltip="Website" 
   matTooltipPosition="below" 
   onclick=" window.open('http://markstart.s3-website.eu-west-2.amazonaws.com/','_blank') " 
   class="icon-button" 
   aria-label=""
   >
   <mat-icon>share</mat-icon>
 </button>


 <button 
   mat-icon-button matTooltip="Shop" 
   matTooltipPosition="below" 
   class="shopButton" 
   aria-label=""
   >
   <mat-icon>shopping_cart</mat-icon>
 </button>



</mat-toolbar>


<mat-sidenav-container autosize>
  <mat-sidenav #sidenav fixedInViewport="true" mode="side" (click)="sidenav.toggle()">


    <button mat-icon-button matTooltip="Home" matTooltipPosition="right" routerLink="/"  class="icon-button" aria-label=""><mat-icon>home</mat-icon></button>

    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="World Map" matTooltipPosition="right" routerLink="/worldmap" class="icon-button" aria-label=""><mat-icon>map</mat-icon></button>

    <button mat-icon-button matTooltip="Globe" matTooltipPosition="right" routerLink="/globe" class="icon-button" aria-label=""><mat-icon>public</mat-icon></button>

    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="Species Data" matTooltipPosition="right" class="icon-button" routerLink="/tables" aria-label=""><mat-icon>storage</mat-icon></button>

    <mat-divider></mat-divider>


    <button class="shopButton" mat-icon-button matTooltip="Shop" matTooltipPosition="right" routerLink="/shop" aria-label=""><mat-icon>shopping_cart</mat-icon></button>


    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="Device Network" matTooltipPosition="right" class="icon-button" routerLink="/networks" aria-label=""><mat-icon>network_check</mat-icon></button>


    <button mat-icon-button matTooltip="test" matTooltipPosition="right" class="icon-button" routerLink="/test" aria-label=""><mat-icon>memory</mat-icon></button>


    <mat-divider></mat-divider>

    <button mat-icon-button matTooltip="References and Links" matTooltipPosition="right" class="icon-button" routerLink="/refs" aria-label=""><mat-icon>collections_bookmark</mat-icon></button>


  </mat-sidenav>
</mat-sidenav-container>





