<nav class="navbar m-1 p-1">


  <a routerLink="/" class="navbar-brand" id="title">
    <img src="./favicon.ico" width="11" height="11" class="d-inline-block align-top" alt=""> {{ title }} </a>

  <span class="spacer"><p></p></span>

  <a class="btn " href="http://markstart.s3-website.eu-west-2.amazonaws.com/" target="_blank">My Website <fa-icon [icon]="windowIcon"></fa-icon>  </a>

  <a class="btn" routerLink="/new-capture">Add New Caputre    <fa-icon [icon]="filmIcon"></fa-icon>    </a>


  <a class="btn"href="#dataSection" > Data  <fa-icon [icon]="filmIcon"></fa-icon> </a>




</nav>



