<div id="page">

  <div id="title">
    <h1> Discovering New Species </h1>
    <p> Based on the research by <a target=" _Blank" href="https://www.nature.com/articles/s41559-021-01411-5">Moura and Jetz (2021)</a>. </p>
  </div>


  <app-slider></app-slider>


  <div id="intro">
    <h1>   </h1>
    <p> Advancments in satellites, remote sensors and increased interest highlight that much of the biodiveristy to be found in the worlds tropical rainforests remains undiscovered. "Conservative estimates suggest only 13 to 18% of all living species may be known at this point" (Moura and Jetz, 2021) but may be even as low as 1.5%! <br> Discovering the illusive biodiversity of the world may lead to a nicer future. 
    <br>Based on the model-based research by Moura and Jetz the discovery probability of undiscovered species of amphibians, birds, reptiles and mamals can be projected over differnt maps of the worlds tropical rainforests to highlight the best place to find them!  </p>
  </div>

</div>

