
<div class="p-2 mt-5 table-responsive" *ngIf="captures.length !== 0"  >

  <table class="table table-hover align-middle table-sm table-bordered" >
    <thead class="text-center">
      <tr>
        <th scopr="col"></th>
        <th scopr="col"></th>
        <th scopr="col">Photos</th>
      </tr>
    </thead>

    <tbody>

      <tr class="" *ngFor = "let capture of captures" [ngClass]="{'table-info': capture.idStatus === 'unidentified'}" >

        
        <td class="align-top">  

          <div class="container">
            <h2> {{ capture.species | titlecase  }} </h2>

            
            <p [ngStyle]="{'color': (capture.idStatus === 'unidentified')? 'red': 'green'}">{{capture.idStatus | titlecase}}</p>

            <p>{{ capture.time | titlecase }}</p>

            <p>ID#:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{capture.id }}</p> <br>
            <p>GPS:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{capture.longitude }}, {{ capture.latitude }} </p> <br>
            <p>Humidity:&nbsp;&nbsp;&nbsp;{{capture.humidity }} </p> <br>
            <p>Temp°C:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{capture.temperature}} </p> <br>
            <p>Moon:{{capture.moonPhase}} </p> 

          </div>

          <div class="container" id="notes" style="height: 100px">
            <p>Notes:  {{capture.notes}} </p> <br>
          </div>

        </td>

        <td align="center">
          <div class="btn-group-vertical">
            <button class="btn btn-dark " (click)="open(content)" (click)="identify(capture)" >Identify</button>
            <button class="btn btn-dark " (click)="deleteCapture(capture)">Delete</button>
          </div>
        </td>


        <td *ngFor = "let image of capture.images" align="center">   
          <img src="assets/captures/{{image.fileURL}}" alt="Species Image" style="height:200px;">
        </td>

      </tr>

    </tbody>

  </table>
</div>




<!--- Modal ------------------------------------------------>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> Identify </h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form class="captureForm" >
      <div class="container">
        <div class="row justify-content-center">
          <label class="col-5" for="species">Species</label>
          <input class="col-5" type="text" name="species" id="species" placeholder="{{species}}" maxlength="256" [(ngModel)]="species">
        </div>
        <div class="row justify-content-center">
          <label class="col-5"for="notes">Notes</label>
          <input class="col-5"type="text" name="notes" id="notes" value={{notes}} maxlength="255" [(ngModel)]="notes"  >
        </div>
          <div class="row justify-content-center fileInputLabel">
            <label class="col-5 "for="image">Upload Image </label>
            <input class="col-5 fileInput"type="file" name="image" id="image" placeholder="Add Image" accept="image/png, image.jpeg" >
          </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.dismiss('sumbit')" (click)="updateCapture()"  >Save changes</button>
  </div>
</ng-template>












