
<div id="page">

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="References">

      <br>

      <p>   Moura, M.R., Jetz, W. Shortfalls and opportunities in terrestrial vertebrate species discovery.<br>
      &nbsp;&nbsp;&nbsp;&nbsp; Nat Ecol Evol 5, 631–639 (2021).<br>
      &nbsp;&nbsp;&nbsp;&nbsp; [ Available: ]  <a href="https://doi.org/10.1038/s41559-021-01411-5" target="_Blank">https://doi.org/10.1038/s41559-021-01411-5</a></p>

      <p>   Start, M. (2022) A Prototype Rainforest Information System:<br> 
      &nbsp;&nbsp;&nbsp;&nbsp; to reduce the cost and increase the accessibility of technology to improve the collection<br>
      &nbsp;&nbsp;&nbsp;&nbsp; of field data from tropical rainforest environments.<br>
      &nbsp;&nbsp;&nbsp;&nbsp; [ Available: ]  <a href="https://github.com/SatellitesAndRainforests/Rainforest-Information-System-Documentation" target="_Blank">https://github.com/SatellitesAndRainforests/Rainforest-Information-System-Documentation</a></p>





    </mat-tab>

    <mat-tab label="Useful Links">

      <br>

      <p> The best jungle advice: <a href="http://dinets.info/ejungletips.htm" target="_Blank">http://dinets.info/ejungletips.htm</a>

      <p> US Army and Air Force - How to Survive in the Jungle - (1944): <a href="https://www.youtube.com/watch?v=hz8GO9AHTz0&ab_channel=TheBestFilmArchives" target="_Blank">https://www.youtube.com/watch?v=hz8GO9AHTz0&ab_channel=TheBestFilmArchives</a> </p>





    </mat-tab>

    <mat-tab label="Useful Maps">   

      <br>

      <p> Tropical forests with >30% canopy density: <a href="https://mongabay-images.s3.amazonaws.com/rainforests/charts/world-rainforests-map.jpg" target="_Blank">https://mongabay-images.s3.amazonaws.com/rainforests/charts/world-rainforests-map.jpg></a></p>

    </mat-tab>

  </mat-tab-group>



</div>
