<div class="center">
  <div class="p-1 m-1 border container">
    <div class="p-1 m-1 row border">

      <div class="p-1 m-1 border col-sm-3">
        <div class="border center">
          <h4 id="location-name">Expeditions</h4>
        </div>
        <div class="border center">

          <img src="" id="image">
        </div>
      </div>

      <div class="p-1 m-1 border col row center">
        <div class="p-1 m-1 col-sm-2 border center location" (mouseover)="changeImage('ryu')">  <img src="/assets/street-fighter/ryu.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('blanka')">  <img src="/assets/street-fighter/blanka.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('guile')">  <img src="/assets/street-fighter/guile.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('balrog')">  <img src="/assets/street-fighter/balrog.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('mbison')">  <img src="/assets/street-fighter/mbison.png" alt="">  </div>
        <br>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('ken')">  <img src="/assets/street-fighter/ken.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('chunli')">  <img src="/assets/street-fighter/chunli.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('dhalsim')">  <img src="/assets/street-fighter/dhalsim.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('honda')">  <img src="/assets/street-fighter/honda.png" alt="">  </div>
        <div class="p-1 m-1 col-sm-2 border center location"(mouseover)="changeImage('vega')">  <img src="/assets/street-fighter/vega.png" alt="">  </div>
      </div>

    </div>
  </div>
</div>














































